@{
    ViewData["Title"] = "Contatos";
}

<section class="page">
    <h1 class="page-title">Contatos</h1>

    <div class="contact-container">

        <a href="mailto:seu-email@gmail.com" class="card-link">
            <div class="custom-card">
                <i class="fa-solid fa-envelope fa-2x icon"></i>
                <h3>Email</h3>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/seu-usuario/" target="_blank" rel="noopener noreferrer" class="card-link">
            <div class="custom-card">
                <i class="fa-brands fa-linkedin fa-2x icon"></i>
                <h3>LinkedIn</h3>
            </div>
        </a>

        <a href="https://github.com/botinho12" target="_blank" rel="noopener noreferrer" class="card-link">
            <div class="custom-card">
                <i class="fa-brands fa-github fa-2x icon"></i>
                <h3>GitHub</h3>
            </div>
        </a>
        
        <a href="https://www.instagram.com/seu-usuario/" target="_blank" rel="noopener noreferrer" class="card-link">
            <div class="custom-card">
                <i class="fa-brands fa-instagram fa-2x icon"></i>
                <h3>Instagram</h3>
            </div>
        </a>
    </div>
</section>