# Build results
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/

# NuGet
*.nupkg

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
appsettings.Development.json