@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="page">

    <h1 class="page-title">Cursos e Conhecimentos</h1>

    <div class="cards-container">

        <div class="custom-card">
            <h3>ASP.NET MVC</h3>
            <p>
                Desenvolvimento web utilizando C#, Razor e Entity Framework.
            </p>
        </div>

        <div class="custom-card">
            <h3>SQL Server</h3>
            <p>
                Modelagem de banco de dados, procedures e consultas SQL.
            </p>
        </div>

        <div class="custom-card">
            <h3>React Native</h3>
            <p>
                Desenvolvimento de aplicativos mobile utilizando Expo.
            </p>
        </div>

    </div>

</section>